* {margin:0;padding:0;box-sizing:border-box;}

nav {
	background-color: black;
	font-family: 'Abel', sans-serif;
	color: white;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: white;
	display: block;
	float: left;
	padding: 2em;
	text-align: center;
}

a:hover {
	background-color: #FF4500;
}

body {
	background-color: white;
	color: black;
	font-size: 16px;
}
h1 {
	 color: black;
	 font-family: 'Abel', sans-serif;
	 font-size: 8em;
	 text-align: center;
	 width: 100%;
	 font-weight: lighter;
}

h2 {
	 color: #FF4500;
	 font-family: 'Abel', sans-serif;
	 font-size: 1.5em;
	 text-align: left;
	 width: 100%;
	 padding-left: 0.8em;
}

#two_column {
	backgroun-color: white
	border: 1px black solid;
	padding: 20 px;
}

#left {
    background-color: white;
    padding: 20px;
    float: left;
    width: 50%;
}

#right {
    background-color: white;
    padding: 20px;
    float: right;
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.thumb {
	height: 5em;
	width: 5em;
}

.bold {
	font-weight:bold;
}

.profession {
	font-style: italic;
	font-weight: lighter;
	font-size: 4em;
	text-align: center;
	width: 100%;
	font-family: 'Cookie', cursive;
}

.hero {
	background-size:cover;
}

#education {
	background-color: white;
	background-size: cover;
}

#workexperience

.role {
	color: #008B8B;
	font-size: 2em;
}

.org {
	font-size: 1em;
	font-style: italic;
	padding-bottom: 1em;
}

.date {
	font-size: 1em;
	font-family: 'Crimson Text', serif;
}

.place {
	font-family: 'Crimson Text', serif;
	font-size: 1em;
}
#splash {
	background:url(../images/windsurfing.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	height: 90vh;
	padding: 8em 0 0;
}

#education {
	padding: 2em;
}

#education section div {
	width: 60%;
}

.about {
	font-size: 1em;
	font-family: 'Crimson Text', serif;
	color: #696969;
}


.circle-container {
	display: inline-block;
}

.circle {
	height: 25px;
	width: 25px;
	border: 1px solid black;
	border-radius: 50%;
	background: red;
	vertical-align: top;
	display: inline-block;
}

