* {margin:0;padding:0;box-sizing:border-box;}

nav {
	font-family: 'Abel', sans-serif;
	color: white;
	font-size: 1em;
	text-align: center;
	height: 0;
}

nav a {
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 2em;
}

nav a:hover {
	background-color: #FF4500;
}


body {
	background-color: white;
	color: black;
	font-size: 16px;
}
h1 {
	 color: black;
	 font-family: 'Abel', sans-serif;
	 font-size: 8em;
	 text-align: center;
	 width: 100%;
	 font-weight: lighter;
}

h2 {
	 color: #FF4500;
	 font-family: 'Abel', sans-serif;
	 font-size: 1.5em;
	 text-align: left;
	 width: 100%;
	 padding-left: 0.8em;
}

#about {
	width: 200%;
	height: 10em;
	background-color: grey;
}

#about p {
	color: white;
	padding: 4em;
	margin-left: 2em;
}

/*#two_column {
	backgroun-color: white
	border: 1px black solid;
	padding: 20 px;
}*/

/*#left {
    background-color: white;
    padding: 20px;
    float: left;
    width: 50%;
}*/

/*#right {
    background-color: white;
    padding: 20px;
    float: right;
    width: 50%;
}*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.thumb {
	width: 5em;
}

.bold {
	font-weight:bold;
}

.profession {
	font-style: italic;
	font-weight: lighter;
	font-size: 4em;
	text-align: center;
	width: 100%;
	font-family: 'Cookie', cursive;
}

.hero {
	background-size:cover;
}

#education {
	background-color: white;
	background-size: cover;
}

.role {
	/*color: #008B8B;*/
	color: black;
	font-size: 1em;
}

.org {
	font-size: 1em;
	font-style: italic;
	padding-bottom: 1em;
}

.date {
	font-size: 1em;
	font-family: 'Crimson Text', serif;
}

.place {
	font-family: 'Crimson Text', serif;
	font-size: 1em;
}
#splash {
	background:url(../images/windsurfing.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	height: 90vh;
	padding: 8em 0 0;
}

#education {
	width: 60em;
	margin: 0 auto;
	position: relative;
}

#education section div {
	/* width: 60%; */
}

#work-experience {
	width: 60em;
	margin: 0 auto;
	position: relative;
}

#work-experience section {
    width: 50%;
    float: left;
    /* border: 1px solid; */
    padding: 2em;
}

#work-experience h2 {position: absolute;top: 1em;left: -8em;padding: 0;}

.about {
	font-size: 1em;
	font-family: 'Crimson Text', serif;
	color: #696969;
}


.circle-container {
	display: inline-block;
}

.circle {
	height: 25px;
	width: 25px;
	border: 1px solid black;
	border-radius: 50%;
	background: red;
	vertical-align: top;
	display: inline-block;
}

#education section {
    width: 50%;
    float: left;
    /* border: 1px solid; */
    padding: 2em;
}

#education h2 {position: absolute;top: 2em;left: -5em;padding: 0;}

#work-images {
	width: 200%;
	height: 20em;
	background-color: grey;
}

#work-images a {
	color: white;
}
